* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
   background-color:#c0c6dc;
   margin: 0;
}

aside {
    background: rgba(224, 235, 254, 0.7);
    border-radius: 40px;
    width: 370px;
}
ol {
    padding: 0;
    padding-left: 20px;
}

.buttons-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    border-radius: 16px;
    padding: 14px 16px;
    width: 290px;
    height: 48px;
    border: 1px solid #7549ea;
    font-weight: 700;
    font-size: 16px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    color: #1f2937;
}

.friends {
    margin-top: 48px;
    margin-bottom: 48px;
}

.followers-counter {
    font-weight: 400;
    font-size: 22px;
    color: #4a5161;
    padding-left: 16px;
}

.top-button {
    background: #7549ea;
    color: #fff;
}

.bottom-button {
    background: inherits;
    color: #7549ea;
}

.asidebox {
    padding: 40px;
}

.wrapper {
    border-radius: 40px;
    width: 1200px;
    background: #fff;
    margin: 27px;
    display: flex;
    padding: 13px 18px;
    gap: 60px;
}

.interest {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.title-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 73px;
}

.h1 {
    margin: 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 122%;
    color: #1f2937;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #4a5161;
}
.email-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7549ea;
}

.links {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: #7549ea;
}

.games {
    font-weight: 400;
    color: #4a5161;
}

.good-food {
    font-weight: 700;
    color: #1f2937;
}

.interest-item {
    border-radius: 6px;
    padding: 0px 8px;
    height: 24px;
    background: rgba(117, 73, 234, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #7549ea;
    margin: 0;
}

.info-box > p {
    display: flex;
    gap: 24px;
}

.info-box > p > b {
    width: 80px;
}

li {
    padding-left: 8px;
    margin-bottom: 10px;
}

li::marker {
    font-weight: bold;
}

.list-item {
    font-weight: bold;
}

.achiev-box {
    font-weight: 400;
    color: #4a5161;
}

.inner-list {
    margin-top: 10px;
    list-style-type: disc;
}

.inner-list> li {
    font-weight: 400;
    color: #4a5161;
}

.delicios-food {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #4a5161;
}